       <div class="auth-form-wrapper">
         <iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe"></iframe>
            <form class="upload-form" method="post" enctype="application/json"
            target="dummyframe" action="http://127.0.0.1:3000/auth/login">
            <h3>Введите email и пароль</h3>
            <input  type="text" name="email" placeholder="Email"/>
            <input  type="password" name="password" placeholder="Пароль"/>
            <button type="submit">Войти</button>
            </form>
        </div>





